*.idea
*.pyc
*.swp
local_settings.py
local_*_settings.py
uwsgi.ini
locale/
rponline/examples/appearance/
rponline/examples/clienttest.py
rponline/examples/files/
rponline/examples/services/albums.pickle
rponline/examples/services/albumservice.py
rponline/examples/services/calculator.py
rponline/examples/services/transferservice.py
scripts/enviar_duplicados.sh
staticfiles
media
.flake8
other
dump.rdb
celerybeat-schedule

