/* Credits to baldnate */

@font-face {
  font-family: "Tecmo";
  src: url("../fonts/MANDELA_.TTF");
}
body {
    letter-spacing: 1px;
    background-color: #FF00FF;
    font-family: "Tecmo";
    color: antiquewhite;
    text-shadow: 
      5px  5px #151515,
      2px  2px #151515,
      2px  0px #151515,
      2px -2px #151515,
      0px  2px #151515,
      0px -2px #151515,
      -2px  2px #151515,
      -2px  0px #151515,
      -2px -2px #151515;
}
table{
  border-collapse: separate;
  border-spacing: 0 1px;
}
h3 {
  font-size: 30px;
  text-align: center;
  color: yellow;
}
th {
  font-size: 26px;
  text-align: left;
  padding-left: 30px;
}
td {
  vertical-align: center !important;
  text-align: left;
  padding-left: 30px;
}
tr {
  font-size: 26px;
}
.first {
  color: #D4AF37;
  font-size: 30px;
}
.second {
  color: #C0C0C0;
  font-size: 28px;
}
.third {
  color: #CD7F32;
  font-size: 26px;
}
.dropped {
  color: rgb(255, 50, 50);
  font-size: 26px;
}
