{% extends 'base.html' %}
{% block css %}
    {{block.super}}
    <style>
    body{
        font-family: {{tournament.font}} !important;
    }
    </style>
{% endblock %}
{% load duration %}
{% block content %}
    <table>
        <caption>{{tournament.name}}</caption>
        <tr>
            <th>#</th><th>Racer</th><th>PB</th>
        </tr>
        {% for racer in racers %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{racer.name}}</td>
            <td>{{racer.get_pb}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
