{% extends 'base_dashboard.html' %}
{% load duration %}
{% block content %}
    <table>
    <thead>
        <tr>
            <th>Name</th><th>Date</th><th>Current round</th><th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for tournament in tournaments %}
        <tr>
            <td>{{tournament.name}}</td>
            <td>{{tournament.date|default_if_none:"-"}}</td>
            <td>{{tournament.current_round}}</td>
            <td>
                <a href="{% url 'process' tournament.id %}" target='_blank'><button class='menu-button'>Process round {{tournament.current_round}}</button></a>
                <a href="/overview/{{tournament.id}}" target='_blank'><button class='menu-button' target='_blank'>OBS Overview + PB</button></a>
                <a href="/overview_with_details/{{tournament.id}}" target='_blank'><button class='menu-button'>OBS Overview + Best &amp; Avg.</button></a>
                <a href="/view_last_round/{{tournament.id}}/" target='_blank'><button class='menu-button'>OBS LAST ROUND</button></a>
                <a href="/overview_pb_mode/{{tournament.id}}/" target='_blank'><button class='menu-button'>OBS LAST ROUND (PB MODE)</button></a>
                <a href="/rockyirs/tracker/tournament/{{tournament.id}}" target='_blank'><button class='menu-button'>Edit in admin</button></a>

            </td>
        </tr>

    {% endfor %}
    </tbody>
    </table>
    <ul>
    <li><a href="/rockyirs/tracker/tournament/">Tournament admin</a></li>
    <li><a href="/rockyirs/tracker/tournament/add/">New tournament</a></li>
    </ul>
{% endblock %}
