{% extends 'base_dashboard.html' %}
{% load duration %}
{% block content %}
    <table>
    <thead>
        <tr>
            <th>Name</th><th>Current round</th><th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for tournament in tournaments %}
        <tr>
            <td>{{tournament.name}}</td>
            <td>{{tournament.current_round}}</td>
            <td>
                <a href="/tournament_details/{{tournament.id}}" target='_blank'><button class='menu-button'>Details/Rounds</button></a>
                <a href="/rockyirs/tracker/tournament/{{tournament.id}}" target='_blank'><button class='menu-button'>Edit</button></a>
                <a href="/create_next_round/{{tournament.id}}" target='_blank'><button class='menu-button'>Create next round</button></a>
                <a href="/edit_round/{{tournament.id}}/{{tournament.current_round}}/" target='_blank'><button class='menu-button'>Edit last round</button></a>
                <a href="/overview/{{tournament.id}}" target='_blank'><button class='menu-button' target='_blank'>Overview URL</button></a>
                <a href="/overview_with_details/{{tournament.id}}" target='_blank'><button class='menu-button'>Overview with details URL</button></a>
            </td>
        </tr>

    {% endfor %}
    </tbody>
    </table>
    <ul>
    <li><a href="/rockyirs/tracker/tournament/">Tournament admin</a></li>
    <li><a href="/rockyirs/tracker/tournament/add/">New tournament</a></li>
    </ul>
{% endblock %}
