{% extends 'base.html' %}
{% block content %}
    <table>
        <caption>END OF ROUND {{round.number}}</caption>
        <tr>
            <th>#</th><th>Racer</th><th>Time</th><th></th>
        </tr>
        {% for racer_round in racer_rounds %}
        <tr
            {% if racer_round.racer.eliminated and racer_round.racer.elimination_round <= round.number %}
            class="dropped"
            {% elif racer_round.racer.dropped and racer_round.racer.elimination_round <= round.number %}
            class="dropped"
            {% elif forloop.counter == 1 %}
            class="first"
            {% elif forloop.counter == 2 %}
            class="second"
            {% elif forloop.counter == 3 %}
            class="third"
            {% endif %}
        >
            <td>{{forloop.counter}}</td>
            <td>{{racer_round.racer}}</td>
            {% if racer_round.racer.eliminated and racer_round.racer.elimination_round <= round.number %}
            <td>KO in round {{racer_round.racer.elimination_round}}</td>
            <td></td>
            {% elif racer_round.racer.dropped and racer_round.racer.elimination_round <= round.number %}
            <td>Dropped in round {{racer_round.racer.elimination_round}}</td>
            <td></td>
            {% else %}
            <td>{{racer_round.time|default_if_none:''}}</td>
            {% autoescape off %}
            <td>{{racer_round.get_difference_with_last_round}}</td>
            {% endautoescape %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
